<h2>Data Records</h2>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>contact</th>
        <th>email</th>
        <th>Actions</th></tr>
    {% for row in data %}
    <tr>
        <td>{{ data[0] }}</td>
        <td>{{ data[1] }}</td>
        <td>{{ data[2] }}</td>
        <td>{{ data[3] }}</td>
        <td>
            <a href="/update/{{ row[0] }}">update</a> |
            <a href="/delete/{{ row[0] }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
